services:
        ################ services ################
        router: App\Router\RouterFactory::createRouter
        - Libs\Repository\SearchResult
        - Libs\Repository\Address
        - Libs\Repository\City
        - Libs\Repository\Country
        - App\Components\SearchForm

        ConvertMappingCommand:
            class: Doctrine\ORM\Tools\Console\Command\ConvertMappingCommand
            tags: [console.command: orm:convert-mapping]
        ValidateSchemaCommand:
            class: Doctrine\ORM\Tools\Console\Command\ValidateSchemaCommand
            tags: [console.command: orm:validate-schema]
        UpdateCommand:
            class: Doctrine\ORM\Tools\Console\Command\SchemaTool\UpdateCommand
            tags: [console.command: orm:schema-tool:update]
